{% extends 'base.html'  %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<body>
    <h1>Admin Dashboard</h1>

    <h2>Users</h2>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <form action='/users/{{user.username}}/delete' style="display:inline;" method="POST">
                        <button class="btn btn-sm btn-danger">Delete Account</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Posts</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>
                    <a style="display:inline; text-decoration: none;" href="/post/{{post.id}}/update">
                        <button class="btn btn-sm btn-success"><i class="far fa-edit"></i></button>
                    </a>


                    <form action="/post/{{post.id}}/delete" style="display:inline;" method="POST">
                        <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/">Back to Home</a>
</body>


{% endblock %}