{% extends 'base.html'  %}

{% block title %}New Post{% endblock %}

{% block content %}

<h1>Add New Post</h1>
<p class=" lead">Add a new post here!</p>

<form method="POST">

  {{ form.hidden_tag() }}

  {% for field in form
    if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }}
    {{ field(class_="form-control") }}

    {% for error in field.errors %}
    <span class="form-text text-danger">{{ error }}</span>
    {% endfor %}
  </p>
  {% endfor %}

  <button class="btn btn-success" type="submit">Submit</button>

</form>
{% endblock %}