{% extends 'base.html'  %}
{% block title %}{{user.username}} Profile{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
  <div class="card my-4 text-center" style="width: 400px">
    <div class="card-body">
      <h3 class="card-title text-info">
        {{user.username}}
      </h3>
      <p class="card-text">
        Full name: {{user.first_name}} {{user.last_name}}
      </p>

      <p class="card-text">
        Email: {{user.email}}
      </p>

      {% if session['username'] == user.username or session['username'] == "admin"%}
      <form action='/users/{{user.username}}/delete' style="display:inline;" method="POST">
        <button class="btn btn-sm btn-danger">Delete Account</button>
      </form>
      {%endif%}

    </div>
  </div>

</div>


<div class="row d-flex justify-content-between">
  <div class="col-6 align-items-center">
    <h3>Posts created</h3>
  </div>



  {% if session['username'] == user.username %}
  <div class="col-4 d-flex justify-content-end align-items-center ">
    <a href="/users/{{user.username}}/post/add">
      <button class="btn btn-sm btn-success">Add new!</button>
    </a>
  </div>
  {%endif%}

</div>







<div>
  {%if user.posts == []%}

  <div class="card my-4">
    <div class="card-body">
      <p class="card-text">
        You don't have any posts!
      </p>

    </div>
  </div>

  {%else%}
  {% for post in user.posts %}
  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title text-info">
        {{post.title}}
        {% if session['username'] == post.user.username or session['username'] == "admin"%}
        <a style="display:inline; text-decoration: none;" href="/post/{{post.id}}/update">
          <button class="btn btn-sm btn-success"><i class="far fa-edit"></i></button>
        </a>


        <form action="/post/{{post.id}}/delete" style="display:inline;" method="POST">
          <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
        </form>
        {% endif %}
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">By {{post.user.username}}</h6>
      <p class="card-text">
        {{post.content}}
      </p>

    </div>
  </div>

  {%  endfor %}
  {%endif%}
</div>


{% endblock %}